
attic/
temp/
tmp/
work/
Thumbs.db
workspace.xml

do/inventory
do/inventory.json
do/group_vars/docker-hosts.yml

lxd/inventory
lxd/inventory.json
lxd/group_vars/docker-hosts.yml

*.tfstate
*.tfstate.backup
*.retry
.terraform/
